#container{
  width:80%;
  height:100%;
  padding-top:5%;
  margin-left:10%;
  position: absolute;
  margine: auto;
  text-align: center;
}

header{
  font-size: 50px;
  margin-bottom: 50px;
}


#todoForm::after{
  dispaly: block;
  content: '';
  clear: both;
}
#input_table{
	margin-bottom:50px;	
}

#todo_table, #done_table, #overdue_table{
  width:100%;
  margin-top:20px;
  padding-left:20px;
  text-align:left;
  border_bottom: 1px, solid, #444444;
  table-layout:fixed;
  word-break:break-all;
  margin-bottom: 50px;
}

tr, th, td{
  border: 3px, solid, #444444;
  padding: 5px;
}


.modify_btn, .complete_btn, .delete_btn{
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 20px;           /* make this the size of your image */
    padding-left: 20px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}

.table_title{
	position: relative;
	font-size:30px;
	padding-top:10px;
	padding-left:20px;
	text-align: left;
	font-weight: bold;
}
